body{
    background-image:url(/img/pexels-bich-tran-669986.jpg);
    background-size: 100%;
}
.header{
    background-color: cadetblue;
    height: 2rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.menue{
    width: 200px;
}
.menue a{
    border-bottom: whitesmoke;
    border-style: solid;
    background-color: #00FF00;
    display: block;
    color: black;
    padding: 12px;
    text-decoration: none;
}
.menue :hover{
    background-color: cadetblue;
    color: white;
}
.menue a .active{
    background-color: yellow;
}
h1{
    text-align: center;
    color: green;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}
span{
    height: 100%;
    float: right;
    align-items: center;
    margin-left: 8rem;
}
ul{
    width: max-content;
    position: relative;
    list-style: none;
    justify-content: first baseline;
}
ul :hover{
    background-color: cadetblue;
}
li:nth-child(even){

    background-color: greenyellow;
}
#item{
    width: 10rem;
    margin-bottom: 1rem;
    position: relative;
}
li{ 
    list-style-type: none;
    border-bottom: black;
    height: 2rem;
    text-align: center;
    font-family: cursive;
}
.trash{
    margin-top: .5rem;
    margin-right: 1.5rem;
    float: right;
    color: red;
    cursor: pointer;
}
.form{
    margin-left: 2rem;
    float: right;
    position: relative;
    flex-direction: column;

}
.app{
   width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
input{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    
}
.completed{
    float: left;
    margin-right: 2rem;
    margin-top: .5rem;
}
.check{
    cursor: pointer;
    margin-right: 1rem;
    font-size: small;
    color: darkorange;
}
.more{
    margin-right: 1rem;
    cursor: pointer;
}
.done{
    text-decoration: line-through;
    color:rgb(81, 81, 243);
}
label{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #00FF00;
    color: #111;
    font-size: 100%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
.greeting{
text-align: center;
font-family: 'Miriam Libre', sans-serif;
color: cadetblue;
}
#priority{
    margin-bottom: 1rem;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 